/* BUTTONS */

.sidebar li > button.project-btn .li-title {
    text-align: left;
    flex: 1 0 auto;
}

.sidebar li > button.active {
    background-color: var(--LIGHT-GRAY);
}

.personal-list img.delete-project {
    display: none;
}

.sidebar li > button:hover img.delete-project {
    display: block;
}

.personal-list img.delete-project:hover {
    filter: invert(27%) sepia(82%) saturate(4113%) hue-rotate(346deg) brightness(104%) contrast(100%);
}

/* FORM */

.sidebar form {
    display: grid;
    grid-template-rows: 35px 40px;
    grid-column: 1fr 1fr;
    row-gap: 10px;
    column-gap: 15px;
}

.sidebar form input {
    grid-column: 1 / 3;

    border: 1px solid var(--LIGHT-GRAY);
    border-radius: 5px;
    padding: 10px 5px;
}

.sidebar form button {
    border: 1px solid var(--LIGHT-GRAY);
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebar form button[type="submit"] {
    background-color: rgb(57, 207, 57);
    
}

.sidebar form button[type="submit"]:hover {
    background-color: rgb(57, 207, 57, 0.8);
}

.sidebar form button[type="reset"] {
    background-color: rgb(255, 96, 96);
}

.sidebar form button[type="reset"]:hover {
    background-color: rgb(255, 96, 96, 0.8);
}